@page
@model Asp.Net_HW_Module_01_Ua.Pages.CountriesModel
@{
	ViewData["Title"] = "Countries";
}
<h1>Country Information</h1>

<ul class="country-list">
    <li>
        <h3>Ukraine</h3>
        <p>Capital: Kyiv</p>
        <p>Language: Ukrainian</p>
    </li>
    <li>
        <h3>France</h3>
        <p>Capital: Paris</p>
        <p>Language: French</p>
    </li>
    <li>
        <h3>Bulgaria</h3>
        <p>Capital: Sofia</p>
        <p>Language: Bulgarian</p>
    </li>
</ul>
